doctype html
head
style
  include style.css
title Home
nav.home
  h1 Home
  img(src='img/logo.svg' alt='')
  a(href='inloggen.html') Inloggen
article
  h2 magnet match
  p
    | Magnet match is een applicatie die jou helpt om anderen te vinden met dezelfde interesses als jij!
    | Je kiest een aantal interesses die jij heel leuk vindt om te doen. Vervolgens stuur je dit door en ontvang jij een lijst met mensen die ook deze interesses hebt opgegeven, en daar kan jij contact mee opnemen.
footer
  p Tom Mandemaker klas 209 | mandemt | 2021
