<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../style.css">
  <title> 
    404: Niet gevonden
  </title>
</head>
<body>
   
  <h1>Pagina niet gevonden.</h1>

 
<h2>Hoe nu verder?</h2>
  <p>Bekijk hier bijvoorbeeld het complete overzicht: </p>
  <a href="/overzicht" id="btn1">Overzicht</a>

 <footer>
    <a href="../opgeslagen">saved</a>
    <a href="../overzicht">overzicht</a>
    <a href="../toevoegen">nieuw account maken</a>
 </footer>
</body>
</html>