

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="style.css">
  <title> formulier </title>
</head>
<body>
  <h2>Stel je profiel samen:</h2>
  <h2>Wat zijn je interesses?</h2>

  <form action="toevoegen/add" method="post">

    <ul>
      <li>
        <input type="text" name="naam" placeholder="gebruikersnaam">
      </li>
      <li>
        <label for=""><img src="img/interesses/vissen.svg" alt="vissen"></label>
        <input type="checkbox" value="vissen" name="interesse">
       
      </li>
      <li>
        <img src="img/interesses/gooien.svg" alt="gooien">
        <input type="checkbox" value="gooien" name="interesse">
      </li>
      <li>
        <img src="img/interesses/bakken.svg" alt="bakken">
        <input type="checkbox" value="bakken" name="interesse">
      </li>
      <li>
        <img src="img/interesses/braden.svg" alt="braden">
        <input type="checkbox" value="braden" name="interesse">
      </li>
      <li>
        <img src="img/interesses/graven.svg" alt="graven">
        <input type="checkbox" value="graven" name="interesse">
      </li>
      <li>
        <img src="img/interesses/lopen.svg" alt="lopen">
        <input type="checkbox" value="lopen" name="interesse">
      </li>
      <li>
        <img src="img/interesses/zingen.svg" alt="zingen">
        <input type="checkbox" value="zingen" name="zingen">
      </li>
      <li>
        <img src="img/interesses/eten.svg" alt="eten">
        <input type="checkbox" value="eten" name="interesse">
      </li>
      <li>
        <input type="submit" value="keuze opslaan">
      </li>
    </ul>
  </form>
</body>
</html>