

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="style.css">
  <title> formulier </title>
</head>
<body>
  <h1>Stel je profiel samen:</h2>

  <form action="nieuwprofiel" method="post">

    <ul>
      <li>
        <h2>Wat is je naam?</h2>
        <input type="text" name="naam" placeholder="..." >
      </li>
  <h2>Wat zijn je interesses?</h2>

     <div>
      <li>
        <label for="vissen">
          <p>Vissen</p>
          <img src="img/interesses/vissen.svg" alt="vissen">
        </label>
        <input type="checkbox" value="vissen" name="interesse" id="vissen">
       
      </li>
      <li>
        <label for="gooien">
        <p>Gooien</p>
        <img src="img/interesses/gooien.svg" alt="gooien">

      </label>
        <input type="checkbox" value="gooien" name="interesse" id="gooien">
      </li>
      <li>
        <label for="bakken">
        <p>Bakken</p>
        <img src="img/interesses/bakken.svg" alt="bakken">

      </label>
        <input type="checkbox" value="bakken" name="interesse" id="bakken">
      </li>
      <li>
        <label for="braden">
        <p>Braden</p>
        <img src="img/interesses/braden.svg" alt="braden">

      </label>
        <input type="checkbox" value="braden" name="interesse" id="braden">
      </li>
      <li>
        <label for="graven">
          <p>Graven</p>
          <img src="img/interesses/graven.svg" alt="graven">

        </label>
        <input type="checkbox" value="graven" name="interesse" id="graven">
      </li>
      <li>
        <label for="lopen">
        <p>Lopen</p>
        <img src="img/interesses/lopen.svg" alt="lopen">

        </label>
        <input type="checkbox" value="lopen" name="interesse" id="lopen">
      </li>

      <li>
        <label for="zingen">
        <p>Zingen</p>
        <img src="img/interesses/zingen.svg" alt="zingen">
        </label>
        <input type="checkbox" value="zingen" name="interesse" id="zingen">
      </li>

      <li>
        <label for="eten">
        <p>Eten</p>
        <img src="img/interesses/eten.svg" alt="eten">
        </label>
        <input type="checkbox" value="eten" name="interesse" id="eten">
      </li>

    </div>
      <li>
        <input type="submit" value="Laat mij de anderen zien!">
      </li>
   
    </ul>
  </form>
</body>
</html>