doctype html
head


title= title
style
    include style.css
nav
  h1 
  button Opgeslagen
form(action='/inloggen/add.html' method='POST')
  | Naam
  input(type='text' name='name' required='')
  input(type="text" name='age' required='')
  input(type='submit' value='Aanmelden')
