doctype html
head


title= title
style
    include style.css
nav
  h1 
  button Opgeslagen
form(action='/addpersoon.html' method='post')
  | Naam
  input(type='text' name='gebruikersnaam' required='')
  input(type='submit' value='Aanmelden')
