

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="style.css">
  <title> formulier </title>
</head>
<body>
  <h1>OPGESLAGEN</h1>

  <ol>
    <% gebruikers.forEach(function(gebruikers) { %>

 <li>
     <p><%=gebruikers.gebruikersnaam %></p> 
     <a href="profiel/<%=gebruikers.naam%>">bekjk</a>
     <form action="verwijder" method="post"> 
       <input type="submit" value="<%=gebruikers.gebruikersnaam%>" name="naam">

     </form>
    </li>
    <% }); %>
    </ol>
</body>
</html>