

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="style.css">
  <title> Overzicht </title>
</head>
<body>
  <h1>Andere gebruikers:</h1>
  <h2>overzicht</h2>

  <ol>
    <% gebruikers.forEach(function(gebruikers) { %>

    <li>
      <p>
     <a href="profiel/<%=gebruikers.gebruikersnaam %>"><%=gebruikers.gebruikersnaam %></a> 

      </p>
      <p>
     <%=gebruikers.interesse %>

      </p>
      <form action="opslaan" method="post">
  <input type="submit"  value="<%=gebruikers.gebruikersnaam%>" name="naam" id="opslaan">
  <br>
  Opslaan


    </li>

  </form>
    <% }); %>
  
    </ol>
    <footer>
      <a href="../opgeslagen">saved</a>
      <a href="../overzicht">overzicht</a>
      <a href="../toevoegen">nieuw account maken</a>
   </footer>
</body>
</html>