doctype html
head
  meta(charset='UTF-8')
  style
 	 include style.css
title Resultaten
nav.nav
  button Persoon
  h1 resultaten
  a(href='javascript:javascript:history.go(-1)') Terug
main
  ul
    li
      h2 hans
      button sla op
      img(src='' alt='profielfoto hans')
      p Interesses:
      ul
        li vissen
        li eten
        li braden
        li zingen
