doctype html
style 
  include extrastyle.css
head

  title  #{gebruiker.gebruikersnaam} 
h1  #{ gebruiker.gebruikersnaam} 

p Naam: #{gebruiker.gebruikersnaam}  

p Interesses: #{gebruiker.interesse}





  

    