doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet' href='style.css')
  title Resultaten
nav.nav
  a(href='opgeslagen.html')
    img(src='img/opgeslagen.svg' alt='')
  h1 resultaten
  a(href='javascript:javascript:history.go(-1)')
    img(src='img/terugknop.svg' alt='')
main
  ul
    li
      h2 mandemt
      a(href='persoon.html') Bekijk
    li
      h2 hans
      a(href='persoon.html') Bekijk
    li
      h2 piet
      a(href='persoon.html') Bekijk
    li
      h2 admin
      a(href='persoon.html') Bekijk
footer
  p Tom Mandemaker klas 209 | mandemt | 2021
