
body{
	width:100%;
	background-color:#1abc9c;
	font-family:Arial;
	color:#ecf0f1;
	text-align:center;
	margin:0; padding:0;
}

body ol:first-of-type{
	display:block ;
	display:flex;
	list-style-type:none;
	flex-wrap:wrap;
	justify-content:space-around;
}
body ol:first-of-type li{
	display:block;
	width:20em;
	background-color:#f1c40f;
	margin-right:3em;
	border-radius:1em;

}
ul{
	list-style-type:none;
	padding-top:5em;
}
ul li:nth-of-type(odd){
	background-color:aqua;
}
ul li:nth-of-type(even){
	background-color:gray;
}
nav{
	top:0;
	left:37em;
	background-color:orange;

	position:fixed;

	display:flex;

}
nav a{
	padding-top:1.5em;
	background-color:red;
}
div{
	background-color:#2ecc71;
}
form{
	margin-top:10em;
}
form ul{
	margin:0 auto;
	display:flex;
	list-style-type:none;
	max-width:35em;
	justify-content:space-around;
	flex-wrap:wrap;
}
form li input{
	width:10em;
	height:10em;
	margin:2em 5em;
	background-color:black;
}